// Colors
$clr1: #e6e6e6;
$clr2: #f6f6f6;
$clr3: #545454;
$clr4: #383838;
$clr5: #747474;

// Breakpoints
$mobile-breakpoint: 375px;
$narrow-breakpoint: 768px;
$wide-breakpoint: 1300px;


$brd7: 7px;
$brd7-up: 7px 7px 0 0;
$brd7-down: 0 0 7px 7px;

//box-shadow
$bs-light-dark: 0 0 3px 1px #00000000;
$bs-medium-dark: 0 0 9px 1px #00000021;

$bs-light: 0 0 3px 1px #ffffff00;
$bs-medium-light: 0 0 7px 1px #ffffff0d;
